.filters__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
}

.filters__item div {
    width: 200px;
}

@media screen and (max-width: 1024px) {
    .filters__item {
        width: 10%;
        height: 100%;
        
    }
}

@media screen and (max-width: 480px) {
    .filters__item {
        width: 24%;
    }
    .filters__item div {
        width: 100px;
    }
}