@font-face {
  font-family: roboto-regular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

:root {
  --header-color: #ffffff;
  --paragraph-color: #8F9BB3;
}

.App {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2.8rem;
}



:is(h1, h2, h3, h4, h5, h6, button, span) {
  color: #ffffff;
  font-family: roboto-bold;
}
:is(p, a, label) {
  font-family: roboto-regular;
  color: var(--paragraph-color);
}

a {
  text-decoration: none;
}

a:hover {
  color: #abb8d3;
}

@media screen and(max-width: 480px) {
  .App {
    padding-top: 0rem;
  }
}